body{
    background-color: aqua;
    font-size: 13px;
}
form{
    width:100%
    
}
input{
    display: inline-block;
    width: 50%;
    padding:5px;
    
}
#submit{
    width:100px;
}
label{
    display: block;
}